@import '../../styles/utils.scss';

.uploadWallPaper-wrapper{
    padding:5.8rem 1.6rem 7.4rem;
    .notice{
        border-radius: 1.2rem;
        box-shadow: 0 0.2rem 1rem 0 rgba(224, 224, 224, 0.5);
        padding:1.4rem 1.6rem;
        margin-bottom:2.4rem;
        display: flex;
        img{
            width:1.8rem;
            height:1.8rem;
            margin-right:0.8rem;
        }
        span{
            @include font-face(Pretendard-Medium, 1.4rem, 2.2rem, $black90);
            span{color:$coral;}
        }
    }
    .question+.question{
        margin-top:3.2rem;

    }
    .one{
        .images-container{
            display: flex;
            label{
                width:9rem;
                height:9rem;
                border-radius: 1.2rem;
                background-color: $bg2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width:2.4rem;
                    margin-bottom:0.4rem;
                }
                span{
                    @include font-face(Pretendard-Medium, 1.6rem, 2.2rem, $black90);
                    &+span{
                        color:$black50;
                    }
                }
            }
            input[type="file"]{
                position: absolute; 
                width: 1px; 
                height: 1px; 
                padding: 0; 
                margin: -1px; 
                overflow: hidden; 
                clip:rect(0,0,0,0); 
                border: 0;
            }
            .image{
                width:9rem;
                height:9rem;
                border-radius: 1.2rem;
                position:relative;
                margin-left:1.2rem;
                img[alt="upload_img"]{
                    width:100%;
                    height:100%;
                    border-radius: 1.2rem;
                }
                img[alt="delete"]{
                    width:2.4rem;
                    height:2.4rem;
                    position:absolute;
                    top:0.2rem;
                    right:0.2rem;
                }
            }
        }
    }
    .two{
        .inputText{
            position: relative;
            input{
                border:none;
                padding:0.3em 0;
                border-bottom:0.1rem solid $black30;
                width:100%;
                @include font-face(Pretendard-Regular, 1.6rem, 2.4rem, $black80);
                &:focus{
                    outline:none;
                }
                &::placeholder{
                    color:$black50;
                }
            }
            button{
                border:none;
                background-color: transparent;
                position:absolute;
                padding:0;
                right:0;
                bottom:0.3rem;
                img{
                    width:2rem;
                }
            }
        }
    }
    .three{
        .toggle+.toggle{
            margin-top:1.2rem;
        }
        input{
            width:12.6rem;
            height:4.4rem;
            @include font-face(Pretendard-Regular, 1.6rem, 2.4rem, $primaryPurple);
            background-color: $bg2;
            border-radius: 2.4rem;
            padding:1rem 1.4rem;
            box-sizing: border-box;
            border:solid 0.1rem $primaryPurple;
            margin-left:1.2rem;
            text-align: center;
            &:focus{
                outline:none;
            }
            &:placeholder-shown {
                border:none;
            }
        
        }
    }
    .four{
        .date-container{
            display: flex;
            align-items: center;
            .line{
                width:1.6rem;
                display: inline-block;
                border-bottom:0.1rem solid $black60;
                margin:0 0.8rem;

            }
        }
        
    }
}

.bottomButton-wrapper{
    border:none;
    background-color: $black40;
    width:100%;
    height:6.2rem;
    position: fixed;
    bottom:0;
    @include font-face(Pretendard-Bold, 1.6rem, 2.4rem, white);
    letter-spacing: 0.045rem;
    &.complete{
        background-color: $primaryPurple;
    }
    
}