%btn-inner-btn{
    width : 50%;
    height : 4.2rem;
    font-size : 1.4rem; 
    font-weight: 600;
    line-height: 1.29;   
    font-family: 'Pretendard-SemiBold';
    padding-top : 1.2rem;
}

.deleteDialog-wrapper{
    width : 100vw; 
    height : 100vh; 
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    .delete-alert{
        width : 30rem; 
        height : 16.2rem; 
        padding-top: 2.2rem;
        background: white;
        border-radius: 1.5rem;
        text-align: center;
    }
    .main-text{
        color : #292733; 
        font-family: 'Pretendard-Medium';
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;
        
    }
    .sub-text{
        margin-top : 1.2rem; 
        color : #595663; 
        font-family: 'Pretendard-Regular';
        font-size: 1.4rem;
        line-height: 1.29;
    }
    .box-btn{
        width : 100%;
        margin-top : 2.3rem; 
        border-top: 1.3px solid #c4c7d3;
        text-align: center;
        display : flex; 
        cursor: pointer;
        .btn-left{
            @extend %btn-inner-btn; 
            color : #7f7d8a; 
            border-right: 1.3px solid #c4c7d3;
        }
        .btn-right{
            @extend %btn-inner-btn;
        }
    }

}