.deleteAgree-wrapper{
    width : 100vw; 
    height : 100vh; 
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
}