@import '../../styles/utils.scss';

.uploadHeader-wrapper{
    width:100%;
    padding:0 1.6rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height:4.2rem;
    align-items: center;
    position:fixed;
    z-index:10;
    box-sizing: border-box;
    img{
        width:2.4rem;
        height:2.4rem;
    }
    button{
        background-color: transparent;
        border:none;
        font-family: Pretendard-Regular;
        font-size:1.4rem;
        line-height:2.2rem;
        color:$black60;
        &.select{
            color:$primary60;
        }
    }
    span{
        font-family: Pretendard-Medium;
        font-size:1.8rem;
        line-height:2.6rem;
        color:$black;
    }
}