.personalInfoPolicy-wrapper{
    padding-bottom : 11.6rem; 
    .personalInfoPolicy-inner-wrapper{
        padding : 1.6rem 1.6rem 0 1.6rem; 
        span{
            font-family: 'Pretendard-Regular';
            font-size: 1rem;
            line-height: 2;
            color : #7f7d8a;
        }
        .box{
            margin-top : 1.6rem;
            margin-bottom : 2.4rem; 
            p{
                font-family: 'Pretendard-SemiBold';
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.25;
                margin-bottom : 1.6rem; 
            }
            div{
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.67;
                color : #060213; 
                font-family: 'Pretendard-Medium';
                margin-bottom : 0.4rem;
                &:nth-child(n+2) {
                  margin-top : 1.2rem;   
                }
            }
            span{
                font-family: 'Pretendard-Regular';
                font-size: 1rem;
                line-height: 2;
                color : #7f7d8a;
            }
        }
    }
}