//color
$black20: #e7eaf6;
$primaryPurple:#5b21ff;
$black70: #595663;
$black80:#474451;
$black90: #292733;
$black50: #a19fad;
$black40: #c4c7d3;
$greyishBrown: #434343;
$pinkishGrey0: rgba(196, 196, 196, 0);
$black60: #7f7d8a;
$black10: #f2f6ff;
$white: #fff;
$bg2:#f8f9fc;
$warningOr:#fa8418;
$infoBlu:#3c38ff;

//font
@font-face {
    font-family: "Pretendard-SemiBold";
    src: url(../fonts/Pretendard-SemiBold.otf);
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url(../fonts/Pretendard-Medium.otf);
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url(../fonts/Pretendard-Regular.otf);
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url(../fonts/Pretendard-Bold.otf);
}

