%flex{
    display: flex;
    justify-content: space-around;
}

.archivingloadingpage-wrapper{
    width : 100%;
    height : 100%;
    .halfSmallRectangle-line{
        margin-top : 3.2rem; 
        margin-bottom : 2.4rem; 
    }
    .squareHalfBig1-line{
        @extend %flex;
    }
    .squareHalfBig2-line{
        @extend %flex;
        margin-top : 1.6rem; 
    }
}