@import '../../styles/utils.scss';

.locationFeed-wrapper{
    margin-top:3.2rem;
    width:100%;
    .header{
        display: flex;
        justify-content: space-between;
        h2{
            @include font-face(Pretendard-SemiBold, 1.6rem, 2.4rem, $black90);
        }
        .refresh{
            display: flex;
            align-items: center;
            span{
                @include font-face(Pretendard-SemiBold, 1rem, 1.2rem, $black40);
            }
            img{
                width:2rem;
            }
        }
       
    }
    nav{
        display:flex;
        margin-top:1.6rem;
        overflow:auto;
        -ms-overflow-style: none;
        &::-webkit-scrollbar { display: none; }
        margin-bottom:1.6rem;
        .location-wrapper{
            @include font-face(Pretendard-Regular, 1.4rem, 2.2rem, $black50);
            background-color: $bg2;
            padding:0.6rem 0.8rem;
            border-radius: 1.8rem;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            &.click{
                background-color: $primaryPurple;
                color:white;
                font-family: Pretendard-SemiBold;
            }
            img{
                width:1.5rem;
                margin-right:0.4rem;
            }
            +.location-wrapper{
                margin-left:0.8rem;
            }
        }
    }
    article{
        display: flex;
        margin-bottom:3.2rem;
        overflow: auto;
        -ms-overflow-style: none;
        &::-webkit-scrollbar { display: none; }
        .locFeed-wrapper{
            display: flex;
            flex-direction: column;
            position: relative;
            flex-shrink: 0;
            width:13rem;
            .img-container{
                border-radius: 1.2rem;
                margin-bottom: 0.8rem;
                width:100%;
                .category{
                    box-sizing: border-box;
                    position: absolute;
                    top:0;
                    left:0;
                    width:2.8rem;
                    height:2.8rem;
                    padding:0.7rem 0.4rem;
                    border-radius: 1.2rem 0;
                    background-color: $warningOr;
                    @include font-face(Pretendard-SemiBold, 1rem, 1.4rem, white);
                    text-align: center;
                    &.info{
                        background-color: $infoBlu;
                    }
                }
                img{
                    width:100%;
                }
            }
            .date{
                @include font-face(Pretendard-Medium, 1rem, 1.2rem, $black60);
                padding:0.3rem 0.4rem;
                border-radius: 1.2rem;
                background-color: $bg2;
            }
            h4{
                margin-top:0.4rem;
                @include font-face(Pretendard-SemiBold, 1.2rem, 2rem, $black90);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            +.locFeed-wrapper{
                margin-left:1.6rem;
            }
        }
        .emptyfeed-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            width:100%;
            padding:4.8rem 0 1.6rem;
            img{
                width:8rem;
                margin-bottom:1.6rem;
            }
            div{
                @include font-face(Pretendard-Regular, 1.4rem, 1.8rem, $black50);
                white-space: pre;
            }
        }
    }
}