@import '../../styles/utils.scss';

.recommend-wrapper{
    .h2{
        @include font-face(Pretendard-SemiBold, 1.6rem, 2.4rem, $black90);
        margin-bottom:1.6rem;
    }
    article{
        display: flex;
        flex-direction: column;
        .feed{
            display: flex;
            position: relative;
            .img-container{
                border-radius: 1.2rem;
                margin-bottom: 0.8rem;
                width:13rem;
                flex-shrink: 0;
                .category{
                    box-sizing: border-box;
                    position: absolute;
                    top:0;
                    left:0;
                    width:2.8rem;
                    height:2.8rem;
                    padding:0.7rem 0.4rem;
                    border-radius: 1.2rem 0;
                    background-color: $warningOr;
                    @include font-face(Pretendard-SemiBold, 1rem, 1.4rem, white);
                    text-align: center;
                    &.info{
                        background-color: $infoBlu;
                    }
             
                }
                img{
                    width:100%;
                }
            }
            .detail-container{
                display: flex;
                flex-direction: column;
                padding:1.3rem 0 0 1.6rem;
                .detail{
                    display: flex;
                    align-items: center;
                    margin-bottom:0.4rem;
                    img{
                        width:1.7rem;
                        margin-right:0.6rem;
                    }
                    .kr{
                        @include font-face(Pretendard-Medium, 1.2rem, 2rem, $black80);
                        margin-right:1rem;
                    }
                    .date{
                        @include font-face(Pretendard-Medium, 1rem, 1.2rem, $black60);
                        padding:0.3rem 0.4rem;
                        border-radius: 1.2rem;
                        background-color: $bg2;
                    }
                }
                h4{
                    @include font-face(Pretendard-SemiBold, 1.4rem, 2.2rem, $black90);
                }
                .text{
                    @include font-face(Pretendard-Regular, 1rem, 1.5rem, $black60);
                    overflow:hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                }
                .icon-container{
                    display: flex;
                    margin-top:0.8rem;
                    align-items: center;
                    img{
                        width:1.6rem;
                    }
                    span{
                        @include font-face(Pretendard-SemiBold, 1rem, 1.2rem, $black70);
                        margin: 0 0.4rem;
                    }
                }
            }
        }
    }
    
}