@import '../../styles/utils.scss';

.header-wrapper{
    background-color: white;
    position:fixed;
    width:100%;
    padding:0.8rem 1.6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    .logo{
        width:10.6rem;
        height:2.6rem;
    }
    .title{
        @include font-face(Pretendard-Medium, 1.8rem, 2.6rem, $black);
    }
    button{
        border:none;
        background-color: transparent;
        padding:0;
        .scrap{
            width:2.4rem;
        }
    }
}