@import '../../styles/utils.scss';

.header-wrapper{
    background-color: white;
    position:fixed;
    width:100%;
    padding:2.4rem 1.6rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .logo{
        width:10.6rem;
        height:2.6rem;
    }
    .title{
        font-family: Pretendard-Medium;
        font-size:1.8rem;
        line-height: 2.6rem;
        color:black;
    }

    .scrap{
        width:2.4rem;
    }

}