@import '../../styles/utils.scss';

.navigation-wrapper{
    background-color: $white;
    height:6rem;
    position: fixed;
    bottom:0;
    width:100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        width:2.4rem;
        margin-bottom:0.2rem;
    }
    button{
        width:8.9rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        @include font-face(Pretendard-Medium, 1.4rem, 1.8rem, $black50);
        &.click{
            color:$primaryPurple;
            font-family: Pretendard-SemiBold;
        }
    }


}