.intropage-wrappper{
    width : 360px; 
    height : 760px;
}
.swiper-container {
    width: 360px; 
    height: 760px; 
    float : left;  
    .swiper-container::after{
        display: block;
        clear: both;
    }
}

.swiper-pagination-bullet { 
    width: 10px;
    height: 10px;
    flex-grow: 0;
    margin: 0 10px 0 0;
    transform: rotate(-180deg);
    background-color: #d8dce8;
    position : relative; 
    bottom : 150px;
}

.swiper-pagination-bullet-active {     
    width: 20px;
    height: 10px;
    flex-grow: 0;
    margin: 0 0 0 10px;
    transform: rotate(-180deg);
    border-radius: 5px;
    background: #a19fad;  
}