@import '../../_reset.scss'; 

.wrapper {
    width: 360px;
    height : 718px;
    border : 1px solid black; 
    background-color: #5b21ff;
    flex-grow : 0;
    animation : background 2s forwards; 

}

.text-logo{
    width : 184px; 
    height : 45px; 
    flex-grow : 0;
    margin : 176px 88px 473px 88px; 
    animation : textLogo 2s forwards;
}

@keyframes background {
    from {
        background-color: #5b21ff;
    }
    to { 
        background-color: white;
    }
}

@keyframes textLogo {
    from {
            fill : red; 
    }
    to { 
            fill : #5b21ff;
    }
}