.archivingCorePage-wrapper{
    border : 1px solid black; 
    .archiving-history-box{
        width : 32.8rem;
        height : 8.2rem;
        border-radius: 12px;
        padding: 12px 140px 16px 12px;
        box-shadow: 0 2px 10px 0 rgba(224, 224, 224, 0.5);
        background: #ffffff;
    }
    .shared-travel-feed{
        width : 32.8rem;
        height : 4rem; 
        border-bottom: 1px solid #d8dce8;
    }
}