@import "../../styles/utils.scss";

.uploadAlert-wrapper{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:15;
    .dimmed{
        //position: absolute;
        width:100%;
        height:100%;
        background: #000;
        opacity: 0.5;
    }
    .text{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        background-color: white;
        height:13rem;
        width:30rem;
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width:2.2rem;
            margin-bottom:0.8rem;
        }
        span{
            @include font-face(Pretendard-Medium, 1.8rem, 2.6rem, $black90);
            white-space: pre;
            text-align: center;
        }
    }
    
}