.secondpage-wrapper {
    width : 100vw; 
    height : 100vh;
    .intro-message{
        display: block;
        margin : auto;
        margin-top : 7.6rem; 
        margin-bottom : 3.2rem; 
    }
    .intro-standing{
        display: block;
        margin : auto;
        width : 25rem;
        height : 25rem; 
        margin-top : 3.2rem; 
    }
}