.secondpage-wrapper {
    width : 100vw; 
    height : 100vh;
    .intro-message{
        display: block;
        margin : auto;
        margin-top : 7.6rem; 
        margin-bottom : 3.2rem; 
    }
    .intro-standing{
        display: block;
        margin : auto;
        width : 25rem;
        height : 25rem; 
        margin-top : 3.2rem; 
    }
    .circle-wrapper{
        margin-top: 11.6rem;
        z-index: 1000;
        display: flex;
        justify-content: center;
        .active-circle{
            border-radius: 1000rem;
            width : 2rem;
            height : 1rem;
            background-color: #a19fad;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
        }
        .non-active-circle{
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            width : 1rem;
            height : 1rem;
            border-radius: 1000rem;
            background-color: #d8dce8;
        }
    }
}